* {
    margin: 0px;
    padding: 0px;
}

header {
    position: fixed;
    width: 100%;
    z-index: 1000;
    font-size: 19px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: rgba(30, 29, 29, 0.925);
    height: 75px;
    justify-content: space-evenly;
    align-items: center;
    color: white;
}

.logo {
    width: fit-content;
    /* padding: 6%; */
    /* margin-left: 2%; */
    display: flex;
    align-items: center;
}

header .outros {
    display: flex;
}

.outros_1 {
    display: none;
}

header a {
    text-decoration: none;
    color: rgb(255, 153, 0);
    display: flex;
    justify-content: space-between;
    margin-right: 40px;
}

header a:hover {
    color: rgb(246, 203, 47);
}

header a img {
    width: 110px;
    height: 65px;
}


footer {
    height: 10%;
    display: flex;
    gap: 70px;
    padding: 30px;
    background-color: white;
    cursor: pointer;
}


footer .title {
    font-weight: bold;
}

footer .title-nav {
    font-weight: bold;
}

footer .title:hover {
    color: #EF9E00;
}

footer h1 {
    margin-left: 40px;
    margin-right: 100px;
    color: #EF9E00;
}

footer a {
    text-decoration: none;
    color: black;
}



@media only screen and (min-width: 100px) and (max-width: 700px) {
    header {
        width: 100%;
        font-size: 13px;
    }

    header a img {
        width: 80px;
        height: 46px;
        margin: 0px;
    }

    header .outros {
        display: none;
    }

    header .outros_1 {
        display: flex;

    }

    footer {
        width: 100%;
        height: 20vh;
        display: flex;
        flex-direction: column;
        font-size: 12px;
        gap: 30px;
        padding: 10px;
    }

    footer p {
        display: none;
    }

    footer h1 {
        margin: 0px;
    }
}


@media only screen and (min-width: 700px) and (max-width: 1044px) {

    header {
        width: 100%;
        text-align: center;
        font-size: 16px;
    }

    footer {
        width: 100%;
        height: auto;
        font-size: 12px;
        gap: 30px;
        padding: 10px;
    }

}