@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;1,400&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: "Poppins";
    background-color: rgb(24, 24, 24);    
}

.banner .container {
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    height: 100vh;
}

.banner .container .social {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    width: 70%;
    height: 100%;
    background-color: #fdd687;
    
}


.image-cadastro img {
    width: 950px;
}

.caixa-formulario {
    margin-left: 15%;
    margin-top: 4%;
    padding: 2%;
    border-radius: 20px;
}

.campo {
    display: flex;
    justify-content: center;
    position: relative;
    margin: 27px;
    height: 40px;
}

.campo label {
    position: absolute; 
    bottom: 8px;
    color: rgb(161, 161, 161);
    cursor: text;
    transition: 0.5s ease-in-out;
    padding-left: 7px;
}

.input {
    width: 250px;
    border: 2px 0;
    border-color: rgb(255, 255, 255);
    font-size: 15px;
    background-color: rgb(24, 24, 24);
    color: white;
    transition: 0.5s ease-in-out;
    border-radius: 13px;
  }

.input:focus, .input:valid {
    border-bottom: 2px solid black;
}

.input:focus ~ label, .input:valid ~ label {
    transform: translateY(-32px);
    font-size: 15px;
    color: white;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.button button {
    height: 40px;
    width: 200px;
    border: none;
    background-color: #fdd687;
    color: rgb(24, 24, 24);    
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
}

h1{
    color: white;
    text-align: center;
}

.button a{
    color: white;
    margin-top: 10px;
    text-decoration: none;
}

.button span{
    color: #fdd687;
}



/* @media only screen and (min-width: 200px) and (max-width: 700px) {
    .banner .container .social {
        display: none;
    }

    .banner {
        width: 100%;
        height: 100vh;
        padding: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 0;
    }

    .caixa-formulario {
        display: flex;
        width: 90%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }

    .campo {
        margin: 15px 0; 
    }

    .button button {
        width: 100%; 
    }

    footer {
        width: 100%;
    }
}


@media only screen and (min-width: 700px) and (max-width: 1024px) {
    .banner .container .social {
        display: none;
    }

    .banner {
        width: 100%;
        height: 100vh;
        padding: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 0;
    }

    .caixa-formulario {
        display: flex;
        width: 90%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }

    .campo {
        margin: 15px 0; 
    }

    .button button {
        width: 100%; 
    }

    footer {
        width: 100%;
    }
} */

@media only screen and (min-width: 200px) and (max-width: 500px) {
    .banner .container .social {
        display: none;
    }

    .banner {
        padding: 10%;
        height: auto;
        font-size: 13px;
        text-align: center;
    }

    .caixa-formulario {
        width: 90%;
        margin-top: 35%;
    }

    .campo {
        margin: 10px 0;
    }

    .button button {
        width: 100%;
    }

    footer {
        width: 100%;
    }
}

@media only screen and (min-width: 500px) and (max-width: 700px) {
    .banner .container .social {
        display: none;
    }

    .banner {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 14px;
    }

    .caixa-formulario {
        width: 90%;
        margin: 0 auto; /* Adicionando margem automática nas laterais para centralizar */
        margin-top: 14%;}

    .campo {
        margin: 15px 0; 
    }


    footer {
        width: 100%;
    }
}


@media only screen and (min-width: 700px) and (max-width: 1024px) {
    .banner .container .social {
        display: none;
    }

    .banner {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .caixa-formulario {
        width: 90%;
        margin: 0 auto; /* Adicionando margem automática nas laterais para centralizar */
        margin-top: 14%;}

    .campo {
        margin: 15px 0;
    }

    footer {
        width: 100%;
    }
}
