@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;1,400&display=swap');

/* Todos os elementos da página */
*{
    margin: 0;
    padding: 0;
    font-family: "Poppins",sans-serif;
}

body{
    background: linear-gradient(90deg, #FEDD58,#FF924D);
}   


.banner .container{
    display: flex;
}

.barra{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    width: 14%;
    height: 85vh;
    margin-left: 45px;
    margin-top: 3%;
    border-radius: 50px;
    box-shadow: 2px 2px #0000003d;
}


.barra .icones .box{
    padding: 18px;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.barra .icones .box img{
    width: 35px;
    margin-top: 2px;
}

.barra .icones .box span{
    padding: 5px;
}


.container-kpi{
    margin-top: 2%;
}

.container-kpi select{
    width: 200px;
    height: 35px;
    border: none;
    border-radius: 25px;
    margin-left: 100px;
    text-align: center;
}

.container-kpi .kpis{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.container-kpi .kpis .kpi{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    width: 20%;
    margin: 10px;
    height: 220px;
    margin-left: 20px;
    margin-top: 2%;
    background-color: white;
    border-radius: 25px;
    box-shadow: 2px 2px #0000003d;
}

.container-kpi .kpis .kpi p{
    height: 60px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container-kpi .kpis .kpi span{
    height: 60px;
    padding: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.container-kpi .kpis .kpi img{
    margin-left: 35%;
    width: 75px;
}


.container-kpi .kpis .kpi button{
    cursor: pointer;
    background-color: #FF924D;
    color: white;
    border: none;
    width: 200px;
    height: 150px;
    padding: 7px;
    border-radius: 20px;
    margin-left: 12%;
    font-weight: bold;
}

.container-kpi .kpis .kpi button:hover{
    background-color: #ff7a28;
}

dialog::backdrop{
    background-color: rgba(0, 0, 0, 0.3);
}

dialog {
    background-color:  rgb(214, 214, 214);
    margin-left: 30%;
    border: none;
    border-radius: .5rem;
    box-shadow: 0 0 10em rgba(0, 0, 0, 0.54);
    width: 50%;
    margin-top: 7%;
}

.elementos{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.elementos a{
    color: black;
    text-decoration: none;
}

.box-toten{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
    margin-left: 20px;
    margin-top: 3%;
    background-color: white;
    border-radius: 25px;
    box-shadow: 2px 2px #0000003d;
}

.box-toten span{
    font-size: 13px;
    margin-top: 20%;
    text-align: center;
}

.box-toten img{
    margin-top: 30px;
}

.espaco-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px;
}

.espaco-btn button{
    cursor: pointer;
    width: 100px;
    height: 35px;
    background-color: red;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
}